@import 'tailwindcss';

@custom-variant dark (&:is(.kun-dark *));

:root {
  --kun-global-opacity: 0.7;
}

@theme {
  --color-black: #000;
  --color-white: #fff;

  --color-background: hsla(var(--background), var(--kun-global-opacity));
  --color-foreground: hsl(var(--default-900));

  --color-default: hsla(var(--default-500));
  --color-danger: hsl(var(--danger));
  --color-warning: hsl(var(--warning));
  --color-success: hsl(var(--success));
  --color-kun: hsl(var(--kun));
  --color-ren: hsl(var(--ren));

  --color-kun-50: hsl(var(--kun-50));
  --color-kun-100: hsl(var(--kun-100));
  --color-kun-200: hsl(var(--kun-200));
  --color-kun-300: hsl(var(--kun-300));
  --color-kun-400: hsl(var(--kun-400));
  --color-kun-500: hsl(var(--kun-500));
  --color-kun-600: hsl(var(--kun-600));
  --color-kun-700: hsl(var(--kun-700));
  --color-kun-800: hsl(var(--kun-800));
  --color-kun-900: hsl(var(--kun-900));
  --color-ren-50: hsl(var(--ren-50));
  --color-ren-100: hsl(var(--ren-100));
  --color-ren-200: hsl(var(--ren-200));
  --color-ren-300: hsl(var(--ren-300));
  --color-ren-400: hsl(var(--ren-400));
  --color-ren-500: hsl(var(--ren-500));
  --color-ren-600: hsl(var(--ren-600));
  --color-ren-700: hsl(var(--ren-700));
  --color-ren-800: hsl(var(--ren-800));
  --color-ren-900: hsl(var(--ren-900));

  --color-default-50: hsla(var(--default-50));
  --color-default-100: hsla(var(--default-100));
  --color-default-200: hsla(var(--default-200));
  --color-default-300: hsla(var(--default-300));
  --color-default-400: hsla(var(--default-400));
  --color-default-500: hsla(var(--default-500));
  --color-default-600: hsla(var(--default-600));
  --color-default-700: hsla(var(--default-700));
  --color-default-800: hsla(var(--default-800));
  --color-default-900: hsla(var(--default-900));
}

@layer base {
  :root {
    /* Content color */
    --background: 0, 0%, 100%;

    /* Kun - Ark Order */
    --kun: 206 90% 67%;
    /* Ren - 枯れない世界と終わる花 */
    --ren: 244 88% 74%;

    --kun-50: 207 100% 96%;
    --kun-100: 207 100% 91%;
    --kun-200: 208 100% 85%;
    --kun-300: 207 100% 80%;
    --kun-400: 207 100% 74%;
    --kun-500: 206 90% 67%;
    --kun-600: 203 79% 49%;
    --kun-700: 202 100% 32%;
    --kun-800: 203 100% 19%;
    --kun-900: 206 100% 9%;

    --ren-50: 235 100% 98%;
    --ren-100: 237 100% 93%;
    --ren-200: 239 100% 89%;
    --ren-300: 240 100% 85%;
    --ren-400: 242 100% 80%;
    --ren-500: 244 88% 74%;
    --ren-600: 247 72% 64%;
    --ren-700: 254 63% 48%;
    --ren-800: 261 100% 28%;
    --ren-900: 259 100% 15%;

    /* Default */
    --default-50: 228 29% 97%;
    --default-100: 233 17% 90%;
    --default-200: 224 10% 79%;
    --default-300: 231 8% 69%;
    --default-400: 226 8% 57%;
    --default-500: 231 6% 45%;
    --default-600: 230 8% 31%;
    --default-700: 226 13% 19%;
    --default-800: 228 17% 12%;
    --default-900: 0 0% 0%;

    --danger: 339, 90%, 51%;
    --warning: 37, 91%, 55%;
    --success: 146, 79%, 44%;
  }

  .kun-dark {
    --background: 0, 0%, 0%;

    --kun: 206 90% 67%;
    --ren: 244 88% 74%;

    --kun-50: 206 100% 9%;
    --kun-100: 203 100% 19%;
    --kun-200: 202 100% 32%;
    --kun-300: 203 79% 49%;
    --kun-400: 206 90% 67%;
    --kun-500: 207 100% 74%;
    --kun-600: 207 100% 80%;
    --kun-700: 208 100% 85%;
    --kun-800: 207 100% 91%;
    --kun-900: 207 100% 96%;

    --ren-900: 235 100% 98%;
    --ren-800: 237 100% 93%;
    --ren-700: 239 100% 89%;
    --ren-600: 240 100% 85%;
    --ren-500: 242 100% 80%;
    --ren-400: 244 88% 74%;
    --ren-300: 247 70% 56%;
    --ren-200: 254 63% 48%;
    --ren-100: 261 100% 28%;
    --ren-50: 259 100% 15%;

    --default-50: 0 0% 0%;
    --default-100: 228 17% 12%;
    --default-200: 226 13% 19%;
    --default-300: 230 8% 31%;
    --default-400: 231 6% 45%;
    --default-500: 226 8% 57%;
    --default-600: 231 8% 69%;
    --default-700: 224 10% 79%;
    --default-800: 233 17% 90%;
    --default-900: 228 29% 97%;

    --danger: 339, 90%, 61%;
    --warning: 37, 91%, 64%;
    --success: 146, 62%, 55%;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-default-200, currentColor);
    color: var(--color-default-900);
  }

  span,
  svg,
  path {
    color: inherit;
  }

  *:focus {
    outline: none;
  }
}

@layer utilities {
  body {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Helvetica Neue,
      Helvetica,
      Arial,
      PingFang SC,
      Hiragino Sans GB,
      Microsoft YaHei,
      sans-serif !important;
  }

  /* Custom scrollbar-hide syntax */
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .fade-in {
    animation: fade-in 0.3s ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
